.s03{
  padding-bottom: 100px;
  background-image:url(../img/manchas/puntosRight.png),url(../img/manchas/manchaRosa.png);
  background-repeat: no-repeat;
  background-position: 100% 0, right center;
  background-size: 15% auto, 8% auto;
  padding-bottom: 100px;

}
